<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入配置属性文件 -->
    <context:property-placeholder location="classpath:profile/test/redis.properties" />

    <bean name="genericObjectPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">
        <property name="maxWaitMillis" value="-1"/>
        <property name="maxTotal" value="1000"/>
        <property name="minIdle" value="6"/>
        <property name="maxIdle" value="100"/>
    </bean>

    <bean id="jedisClusterFactory" class="com.wb.system.util.redis.JedisClusterFactory">
        <property name="addressConfig">
            <value>classpath:profile/test/connect-redis.properties</value>
        </property>
        <property name="addressKeyPrefix" value="address"/>
        <!--  属性文件里  key的前缀 -->

        <property name="timeout" value="300000"/>
        <property name="maxRedirections" value="6"/>
        <property name="genericObjectPoolConfig" ref="genericObjectPoolConfig"/>
    </bean>

</beans>